/**
 * Typography
 */
body {
    font-size: 110%;
    line-height: 1.35em;
    margin: 1em 0 10em 0;
    padding: 0;
    background: #fffffd;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
}

a {
    color: #900;
    text-decoration: none;
    /*border-bottom: 1px solid #ccc;*/
}
a:hover {
    color: #d00;
    text-decoration: none;
    border-bottom: 1px solid #d00;
}

p a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 1em;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 400;
}

strong, b {
    font-weight: 500;
}

code {
    display: inline-block;
    margin: auto;
    background: #eed;
}
pre code {
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    
}


/**
 * Forms
 */
input, textarea, button {
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

label {
    display: block;
}

.h {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 500;
}

.site-title {
    font-size: 1.5em;
    font-weight: 500;
}
.logo-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.site-header {
    text-align: center;
    margin: 0 1em;
}
.site-header a {
    color: #333;
    border: none;
}
.site-header .logo a {
    padding: 0;
}
.site-header .logo a:hover {
    color: #d00;
    background: inherit;
    /*text-decoration: none;*/
}
.site-header .name {
    display: block;
}
.site-header .avatar {
    width: 120px;
    border-radius: 10px;
    margin-bottom: 0.25em;
}

.site-header .intro {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.25em;
    color: #777;
    font-size: 0.8em
}

.header-nav {
    line-height: 1.5em;
}
.header-nav li {
    display: inline-block;
    margin: 0 0.25em;
}
.header-nav li a {
    /*border-bottom: 1px dotted #ccc;*/
}
.header-nav li a:hover {
    text-decoration: underline;
}


.container {
    padding-top: 1em;
    margin: 0 1em;
}
.container-wrapper {
    margin-left: 0;
}

.unstyled {
    list-style: none;
    padding-left: 0
}


/* Posts index */

.posts {
    list-style: none;
    margin-top: 0;
}
.posts li {
    margin-bottom: 0.75em;
}
.posts a {
    display: block;
    padding: 0.25em 2em 0.75em;
    color: #333;
}

.posts a:hover {
    background: #933;
    text-decoration: none;
    color: #fff;
}
.posts .date {
    display: block;
    font-size: 0.9em;
}
.posts .title {
    display: block;
    font-size: 1.2em;
}
.posts .unPublished {
    color: #999;
}

.post-title {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 1.75em;
    line-height: 1.35em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
.post-date {
    font-size: 0.8em;
    color: #555;
    margin-top: 0.25em;
}

.post {
    margin-bottom: 5em;
}

.tag {
    color: #fff;
    background: #777;
    display: inline-block;
    padding: 0.25em;
    margin-right: 0.5em;
    font-size: 0.75em;
    border-radius: 0.25em
}
.tag-private {
    background: #f50;
}



/* Responsive */

@media only screen and (min-width: 768px) {
    .site-header {
        text-align: right;
        width: 250px;
        height: 100%;
        padding: 2em 1em 1em 1em;
        position: fixed;
        top: 0;
        left: 0;
    }

    .site-title {
        font-size: 1.5em;
        font-weight: 500;
    }

    .site-header .intro {
        font-weight: normal;
        color: #a99;
    }
    .site-header .logo a {
        padding: 0;
    }
    .site-header .logo a:hover {
        color: #d00;
        background: inherit;
        /*text-decoration: none;*/
    }
    .site-header .name {
        display: block;
    }
    .site-header .avatar {
        width: 120px;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    .site-header .intro {
        margin-top: 1em;
        margin-bottom: 2em;
        line-height: 1.25em;
        color: #777;
        font-size: 0.8em
    }

    .header-nav {
        line-height: 2em;
    }
    .header-nav li {
        display: block;
    }
    .header-nav a:hover {
        text-decoration: underline;
    }

    .container {
        padding-top: 1em;
        margin-left: 286px;
        max-width: 600px;
    }
    .container-wrapper {
        margin-left: 2em;
    }
}

