body {
    font-size: 110%;
    line-height: 1.35em;
    margin: 0 0 10em 0;
    padding: 0;
    background: #fffff9;
    font-family: Arial, sans-serif;
}

input, textarea, button {
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

label {
    display: block;
}

h1 {
    margin-bottom: 0;
    font-weight: normal;
}

nav {
    text-align: right;
    width: 250px;
    height: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
}
nav .intro {
    font-weight: normal;
    color: #a99;
}
nav .logo {
    color: #a99;
    padding: 0;
}
nav .logo:hover {
    color: #988;
    background: inherit;
}
nav .name {
    display: block;
}
nav .gravatar {
    border-radius: 40px;
    margin-bottom: 1em;
}

nav .tagline {
    margin-top: 0;
    margin-bottom: 2em;
    color: #555;
}

/* Side nav */
.side-nav {
    margin: 0;
}
.side-nav li {
    overflow: hidden;
    margin-bottom: 0.25em;
}


a {
    color: #922;
    text-decoration: none;
    padding: 0.25em;
}
a:hover {
    background: #fec;
}

code {
    display: inline-block;
    margin: auto;
    background: #eed;
}
pre code {
    display: block;
    margin: 1em 0;
    padding: 0.5em;
    
}

.container {
    padding-top: 1em;
    margin-left: 350px;
    max-width: 600px;
}

.unstyled {
    list-style: none;
    padding-left: 0
}


/* Posts index */

.posts {
    list-style: none;
}
.posts li {
    margin-bottom: 0.75em;
}
.posts a {
    display: inline-block;
}
.posts .date {
    display: block;
    font-size: 0.9em;
}
.posts .title {
    display: block;
    font-size: 1.2em;
    color: #333;
}
.posts .unPublished {
    color: #999;
}

.tag {
    color: #fff;
    background: #777;
    display: inline-block;
    padding: 0.25em;
    margin-right: 0.5em;
    font-size: 0.75em;
    border-radius: 0.25em
}
.tag-private {
    background: #f50;
}